.featured-products {
  .container {
    display: flex;
    flex-direction: column;

    .section-header {
      .section-title {
        padding-top: 1rem;
      }
    }

    .product-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;

      .product-card {
        box-shadow: $box-shadow;
        margin: 1rem;
        overflow: hidden;
        display: grid;
        border-radius: 20px;
        
        .product-card__image {
          margin: 1rem 0;
          a {
            img {
              border-radius: 20px;
              width: 100%;
              height: 300px;
              object-fit: cover;
              transition: $transition;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }

        .product-card__content {
          .product-card__title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: .5rem;
          }

          .product-card__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .product-card__price {
              font-size: 1.1rem;
              font-weight: 600;
            }

            .btn {
              
            }
          }
        }
      }
    }
  }
}